# App
Config/croogo.php
Config/afigestion.php
Config/database.php
Config/settings.json
webroot/uploads/
Plugin/
Vendor/
*.bak
*.swp
.phpintel/

# Packages
cookbooks/
node_modules/
webroot/vendors/

# Cake cache
tmp
tmp/*

# Others
.DS_Store

View/Themed/CroogoBootstrap/
